.THIS {
}
.THIS .bg-color-red {
    background-color: #d31219;
    color: #fff;
}
.THIS .bg-color-green {
    background-color: #00d384;
    color: #fff;
}
.THIS .bg-color-org {
    background-color: #e08e00;
    color: #fff;
}
.THIS .qf-removeLabel .slds-form-element__label {display: none;}

@media (max-width: 767px){

	.THIS .m-settings {display: inline;}

    .THIS .qf-width100{ width: 100%; }
}